appdirs==1.4.3            # via zeep
cached-property==1.3.0    # via zeep
defusedxml==0.5.0         # via zeep
future==0.16.0
isodate==0.5.4            # via zeep
lxml==3.7.3               # via zeep
membersuite-api-client==0.4.4
pytz==2017.2              # via zeep
requests-toolbelt==0.7.1  # via zeep
requests==2.13.0          # via requests-toolbelt, zeep
retrying==1.3.3           # via membersuite-api-client
six==1.10.0               # via retrying, zeep
zeep==1.4.1               # via membersuite-api-client
